<%= form_with(model: litter, local: true) do |form| %>
  <% if litter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(litter.errors.count, "error") %> prohibited this litter from being saved:</h2>

      <ul>
      <% litter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :arrival_date %>
    <%= form.date_select :arrival_date, id: :litter_arrival_date %>
  </div>

  <div class="field">
    <%= form.label :available_date %>
    <%= form.date_select :available_date, id: :litter_available_date %>
  </div>

  <div class="field">
    <%= form.label :birth_date %>
    <%= form.date_select :birth_date, id: :litter_birth_date %>
  </div>

  <div class="field">
    <%= form.label :breed_id %>
    <%= form.collection_select(:breed_id, Breed.all, :id, :name, :include_blank => true) %>
  </div>

  <div class="field">
    <%= form.label :broker_id %>
    <%= form.collection_select(:broker_id, Broker.all, :id, :company_name, :include_blank => true) %>
  </div>

  <div class="field">
    <%= form.label :dam_id %>
    <%= form.collection_select(:dam_id, Dam.all, :id, :name, :include_blank => true) %>
  </div>

  <div class="field">
    <%= form.label :sire_id %>
    <%= form.collection_select(:sire_id, Sire.all, :id, :name, :include_blank => true) %>
  </div>

  <div class="field">
    <%= form.label :male_count %>
    <%= form.number_field :male_count, id: :litter_male_count %>
  </div>

  <div class="field">
    <%= form.label :female_count %>
    <%= form.number_field :female_count, id: :litter_female_count %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
