<div class="container-fluid">
<div style="background-color:lightgray">
<%= form_with(model: litter, local: true) do |form| %>
  <% if litter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(litter.errors.count, "error") %> prohibited this litter from being saved:</h2>

      <ul>
      <% litter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="container-fluid">
        <br>
        <h2 align="center"> Litter Info</h2>
        <br>
        <div class="row" >
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            <%= form.label :name %>
            <%= form.text_field :name, class: "form-control"  %>
          </div>
          <div class="col-sm-2"></div>
        </div><br>

      <div class="row" >
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <%= form.label :arrival_date %>
          <%= form.text_field :arrival_date, id: :litter_arrival_date,  data: {provide: 'datepicker', 'date-format' => 'mm/dd/yyyy'}, class: 'form-control', placeholder: 'mm/dd/yyyy' %>
        </div>

        <div class="col-sm-4">
          <%= form.label :available_date %>
          <%= form.text_field :available_date, id: :litter_available_date, data:{ provide:'datepicker', 'date-format' => 'mm/dd/yyyy' }, placeholder: 'mm/dd/yyyy', class: "form-control"  %>
        </div>


        <div class="col-sm-2"></div>
      </div><br>


      <div class="row" >

        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <%= form.label :birth_date %>
          <%= form.text_field :birth_date, id: :litter_birth_date, data:{ provide:'datepicker', 'date-format' => 'mm/dd/yyyy' }, class: "form-control", placeholder: 'mm/dd/yyyy' %>
        </div>

        <div class="col-sm-4">
          <%= form.label :breeder_id %>
          <%= form.collection_select(:breeder_id, Breeder.all.order("last_name"), :id, :full_name, {:include_blank => true}, {:class => 'form-control'}) %>
        </div>
        <div class="col-sm-2"></div>
      </div><br>

      <div class="row" >

        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <%= form.label :breed_id %>
          <%= form.collection_select(:breed_id, Breed.all, :id, :name, {:include_blank => true}, {:class => 'form-control'}) %>
        </div>
        <div class="col-sm-2"></div>
      </div><br>

      <div class="row" >
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <%= form.label :dam_id %>
          <%= form.collection_select(:dam_id, Dam.all, :id, :name, {:include_blank => true}, {:class => 'form-control'}) %>
        </div>

        <div class="col-sm-4">
          <%= form.label :sire_id %>
          <%= form.collection_select(:sire_id, Sire.all, :id, :name, {:include_blank => true}, {:class => 'form-control'}) %>
        </div>
        <div class="col-sm-2"></div>
      </div><br>

      <div class="row" >
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <%= form.label :male_count %>
          <%= form.number_field :male_count, id: :litter_male_count, class: "form-control" %>
        </div>

        <div class="col-sm-4">
          <%= form.label :female_count %>
          <%= form.number_field :female_count, id: :litter_female_count, class: "form-control" %>
        </div>
        <div class="col-sm-2"></div>
      </div><br>
        <hr><br>
        <h2 align="center"> Treatments</h2>
        <br>

      <%= form.nested_fields_for :litter_treatments do |ff| %>
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
              <br>
              <!-- <%= ff.label :treatment_id, 'Treatments' %>-->
              <%= ff.collection_select(:treatment_type_id,  TreatmentType.all, :id, :name, {:include_blank => true}, class: 'form-control') %>
            </div>

            <div class="col-sm-4">
              <br>
              <%= ff.text_field :treatment_date, id: :canine_treatment_date, data:{ provide:'datepicker', 'date-format' => 'mm/dd/yyyy' }, class: "form-control", placeholder: 'mm/dd/yyyy' %>
            </div>

            <div class="col-sm-1" >
              <br>
              <!--<%= ff.label :Action %>-->
              <%= ff.remove_nested_fields_link 'Delete',  :class => "btn btn-danger"  %>
            </div><br>
      <% end %>

      </div><br><br>
      <div class="row">
        <div class="col-sm-10"></div>
        <div class="col-sm-1">
          <%= form.add_nested_fields_link :litter_treatments, 'Add',  :class => "btn btn-success"  %>
        </div>
      </div>
      <br><br><br>
      <div align="center">
        <div class="actions" >
          <%= form.submit :class => "btn btn-dark" %>
        </div>
      </div><br>
      </div>
  <% end %>
</div>
</div>