<div style="background-color:lightgray">
<%= form_with(model: litter, local: true) do |form| %>
  <% if litter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(litter.errors.count, "error") %> prohibited this litter from being saved:</h2>

      <ul>
      <% litter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="container-fluid">
        <br>
        <h2 align="center"> Litter Info</h2>
        <br>
        <div class="row" >
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            <%= form.label :name %>
            <%= form.text_field :name, class: "form-control"  %>
          </div>
          <div class="col-sm-2"></div>
        </div><br>

      <div class="row" >
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <%= form.label :arrival_date %>
          <%= form.text_field :arrival_date, id: :litter_arrival_date,  data: {provide: 'datepicker'}, class: 'form-control', placeholder: 'yyyy-mm-dd' %>
        </div>

        <div class="col-sm-4">
          <%= form.label :available_date %>
          <%= form.text_field :available_date, id: :litter_available_date, data:{ provide:'datepicker' }, placeholder: 'yyyy-mm-dd', class: "form-control"  %>
        </div>


        <div class="col-sm-2"></div>
      </div><br>


      <div class="row" >

        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <%= form.label :birth_date %>
          <%= form.text_field :birth_date, id: :litter_birth_date, data:{ provide:'datepicker' }, class: "form-control", placeholder: 'yyyy-mm-dd' %>
        </div>

        <div class="col-sm-4">
          <%= form.label :breeder_id %>
          <%= form.collection_select(:breeder_id, Breeder.all, :id, :company_name, {:include_blank => true}, {:class => 'form-control'}) %>
        </div>
        <div class="col-sm-2"></div>
      </div><br>

      <div class="row" >
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <%= form.label :dam_id %>
          <%= form.collection_select(:dam_id, Dam.all, :id, :name, {:include_blank => true}, {:class => 'form-control'}) %>
        </div>

        <div class="col-sm-4">
          <%= form.label :sire_id %>
          <%= form.collection_select(:sire_id, Sire.all, :id, :name, {:include_blank => true}, {:class => 'form-control'}) %>
        </div>
        <div class="col-sm-2"></div>
      </div><br>

      <div class="row" >
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <%= form.label :male_count %>
          <%= form.number_field :male_count, id: :litter_male_count, class: "form-control" %>
        </div>

        <div class="col-sm-4">
          <%= form.label :female_count %>
          <%= form.number_field :female_count, id: :litter_female_count, class: "form-control" %>
        </div>
        <div class="col-sm-2"></div>
      </div><br>

      <div align="center">
        <div class="actions" >
          <%= form.submit :class => "btn btn-dark" %>
        </div>
      </div><br>
    </div>
  <% end %>
</div>