
<div style="background-color:lightgray">
<%= form_with(model: sales_plan, local: true) do |form| %>
  <% if sales_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sales_plan.errors.count, "error") %> prohibited this sales_plan from being saved:</h2>

      <ul>
      <% sales_plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="container-fluid"><br>
    <h2 align="center"> Sale Plan</h2><br>
    <div class="row" >
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <%= form.label :name %>
        <%= form.text_field :name, id: :sales_plan_name, class: "form-control"  %>
      </div>
      <div class="col-sm-3"></div>
    </div><br>


    <div class="row" >
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <%= form.label :start_date %>
        <%= form.text_field :start_date, id: :sales_plan_start_date,  data: {provide: 'datepicker', 'date-format' => 'yyyy-mm-dd'}, class: 'form-control', placeholder: 'yyyy-mm-dd' %>
      </div>
      <div class="col-sm-3">
        <%= form.label :end_date %>
        <%= form.text_field :end_date, id: :sales_plan_end_date,  data: {provide: 'datepicker', 'date-format' => 'yyyy-mm-dd'}, class: 'form-control', placeholder: 'yyyy-mm-dd' %>
      </div>
      <div class="col-sm-3"></div>
    </div><br>

    <div class="row" >
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <%= form.label :variable_percent %>
        <%= form.number_field :variable_percent, id: :sales_plan_variable_percent, class: 'form-control', placeholder: '0.00%' %>
      </div>
      <div class="col-sm-3">
        <%= form.label :flat_percent %>
        <%= form.number_field :flat_percent, id: :sales_plan_flat_percent, class: 'form-control', placeholder: '0.00%' %>
      </div>
      <div class="col-sm-3"></div>
    </div><br>


    <div class="row" >
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <%= form.label :flat_amount %>
        <%= form.number_field :flat_amount, id: :sales_plan_flat_amount, class: 'form-control', placeholder: '$0.00' %>
      </div>
      <div class="col-sm-3">
        <%= form.label :max_amount %>
        <%= form.number_field :max_amount, id: :sales_plan_max_amount, class: 'form-control', placeholder: '$0.00' %>
      </div>
      <div class="col-sm-3"></div>
    </div><br>

    <div align="center">
      <div class="actions" >
        <%= form.submit :class => "btn btn-dark" %>
      </div>
    </div><br>
<% end %>
</div>
</div>