<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sales_plan.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @sales_plan.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @sales_plan.end_date %>
</p>

<p>
  <strong>Variable percent:</strong>
  <%= @sales_plan.variable_percent %>
</p>

<p>
  <strong>Variable percent:</strong>
  <%= @sales_plan.variable_percent %>
</p>

<p>
  <strong>Flat percent:</strong>
  <%= @sales_plan.flat_percent %>
</p>

<p>
  <strong>Flat percent:</strong>
  <%= @sales_plan.flat_percent %>
</p>

<p>
  <strong>Flat amount:</strong>
  <%= @sales_plan.flat_amount %>
</p>

<p>
  <strong>Flat amount:</strong>
  <%= @sales_plan.flat_amount %>
</p>

<p>
  <strong>Max amount:</strong>
  <%= @sales_plan.max_amount %>
</p>

<p>
  <strong>Max amount:</strong>
  <%= @sales_plan.max_amount %>
</p>

<%= link_to 'Edit', edit_sales_plan_path(@sales_plan), :class => "btn btn-link" %> |
<%= link_to 'Back', sales_plans_path, :class => "btn btn-link" %>
