<p id="notice"><%= notice %></p>

<h1>Registration Companies</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Company name</th>
    </tr>
  </thead>

  <tbody>
    <% @registration_companies.each do |registration_company| %>
      <tr>
        <td><%= registration_company.company_name %></td>
        <td><%= link_to 'Show', registration_company %></td>
        <td><%= link_to 'Edit', edit_registration_company_path(registration_company) %></td>
        <td><%= link_to 'Destroy', registration_company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Registration Company', new_registration_company_path %>
