<p id="notice"><%= notice %></p>

<h1>Canines</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Gender</th>
      <th>Sale status</th>
    </tr>
  </thead>

  <tbody>
    <% @canines.each do |canine| %>
      <tr>
        <td><%= canine.description %></td>
        <td><%= canine.gender %></td>
        <td><%= canine.sale_status.name %></td>
        <td><%= link_to 'Show', canine %></td>
        <td><%= link_to 'Edit', edit_canine_path(canine) %></td>
        <td><%= link_to 'Destroy', canine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Canine', new_canine_path %>
