<p id="notice"><%= notice %></p>

<h1>Canines</h1>

<br>
<div align="left">
  <%= link_to 'New Canine', new_canine_path, :class => "btn btn-dark" %>
</div>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Micro Chip</th>
      <th>Description</th>
      <th>Gender</th>
      <th>Sale status</th>
    </tr>
  </thead>

  <tbody>
    <% @canines.each do |canine| %>
      <tr>
        <td><%= canine.micro_chip_number.last(5) %></td>
        <td><%= canine.description %></td>
        <td><%= canine.gender.name %></td>
        <td><%= canine.sale_status.name %></td>
        <td><%= link_to 'Show', canine, class: "btn btn-outline-dark btn-sm" %></td>
        <td><%= link_to 'Edit ', edit_canine_path(canine), class: "btn btn-outline-dark btn-sm" %></td>
        <!--<td><%= link_to 'Delete', canine, method: :delete, class: "btn btn-outline-dark btn-sm", data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div align="center">

</div>