<p id="notice"><%= notice %></p>

<p>
  <strong>Litter:</strong>
  <%= @canine.litter.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @canine.description %>
</p>

<p>
  <strong>Micro chip number:</strong>
  <%= @canine.micro_chip_number %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @canine.gender %>
</p>

<p>
  <strong>Color:</strong>
  <%= @canine.color %>
</p>

<p>
  <strong>Arrival weight:</strong>
  <%= @canine.arrival_weight %>
</p>

<p>
  <strong>Weight category:</strong>
  <%= @canine.weight_category.name %>
</p>

<p>
  <strong>Sale weight:</strong>
  <%= @canine.sale_weight %>
</p>

<p>
  <strong>Price:</strong>
  <%= @canine.price %>
</p>

<p>
  <strong>Price:</strong>
  <%= @canine.price %>
</p>

<p>
  <strong>Sale price:</strong>
  <%= @canine.sale_price %>
</p>

<p>
  <strong>Sale price:</strong>
  <%= @canine.sale_price %>
</p>

<p>
  <strong>Fault description:</strong>
  <%= @canine.fault_description %>
</p>

<p>
  <strong>Fault discount:</strong>
  <%= @canine.fault_discount %>
</p>

<p>
  <strong>Fault discount:</strong>
  <%= @canine.fault_discount %>
</p>

<p>
  <strong>Registration company:</strong>
  <%= @canine.registration_company.company_name %>
</p>

<p>
  <strong>Registration number:</strong>
  <%= @canine.registration_number %>
</p>

<p>
  <strong>On hold:</strong>
  <%= @canine.on_hold %>
</p>

<p>
  <strong>On hold reason:</strong>
  <%= @canine.on_hold_reason %>
</p>

<p>
  <strong>Available date:</strong>
  <%= @canine.available_date %>
</p>

<p>
  <strong>Last sold date:</strong>
  <%= @canine.last_sold_date %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @canine.cost %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @canine.cost %>
</p>

<p>
  <strong>Sale status:</strong>
  <%= @canine.sale_status.name %>
</p>

<%= link_to 'Edit', edit_canine_path(@canine) %> |
<%= link_to 'Back', canines_path %>
