<div class="container-fluid">
<div style="background-color:lightgray">
<%= form_with(model: dam, local: true) do |form| %>
  <% if dam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dam.errors.count, "error") %> prohibited this dam from being saved:</h2>

      <ul>
      <% dam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="container-fluid">
        <br>
        <h2 align="center"> Dam Info</h2>
        <br>
        <div class="row" >
          <div class="col-sm-2"></div>
          <div class="col-sm-4">
            <%= form.label :registration_number %>
            <%= form.text_field :registration_number, id: :dam_registration_number, class: "form-control" %>
          </div>
          <div class="col-sm-4">
            <%= form.label :name %>
            <%= form.text_field :name, id: :dam_name, class: "form-control" %>
            <div class="col-sm-2"></div>
          </div>
        </div><br>

        <div class="row" >
          <div class="col-sm-2"></div>
          <div class="col-sm-4">
            <%= form.label :breed_id %>
            <%= form.collection_select(:breed_id, Breed.all, :id, :name,  {:include_blank => true}, {:class => 'form-control'}) %>
          </div>

          <div class="col-sm-4">
            <%= form.label :breeder_id %>
            <%= form.collection_select(:breeder_id, Breeder.all.order("last_name"), :id, :full_name, {:include_blank => true}, {:class => 'form-control'}) %>
          </div>
        </div><br>

        <div class="row" >
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            <%= form.label :comment %>
            <%= form.text_area :comment, id: :dam_comment, class: "form-control" %>
            <div class="col-sm-2"></div>
          </div>

        </div><br>

        <div align="center">
          <div class="actions" >
            <%= form.submit :class => "btn btn-dark" %>
          </div>
        </div><br>
<% end %>
</div>
</div>
</div>