<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @requirement.start_date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @requirement.name %>
</p>

<p>
  <strong>Last update by:</strong>
  <%= @requirement.last_update_by %>
</p>


<p>
  <strong>Description:</strong>
  <%= @requirement.description %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @requirement.detail %>
</p>

<p>
  <strong>Status:</strong>
  <%= @requirement.status %>
</p>

<%= link_to 'Edit', edit_requirement_path(@requirement), :class => "btn btn-link" %> |
<%= link_to 'Back', requirements_path, :class => "btn btn-link" %>
