<p id="notice"><%= notice %></p>

<h1>Weight Categories</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @weight_categories.each do |weight_category| %>
      <tr>
        <td><%= weight_category.name %></td>
       <td><%= link_to 'Show', weight_category, class: "btn btn-outline-dark btn-sm" %></td>
        <td><%= link_to 'Edit', edit_weight_category_path(weight_category), class: "btn btn-outline-dark btn-sm" %></td>
        <!--<td><%= link_to 'Destroy', weight_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weight Category', new_weight_category_path, :class => "btn btn-dark" %>
