<div class="container-fluid">
<div style="background-color:lightgray">
<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <br>
  <!--*** INFO ***     -->
  <h2 align="center"> Customer Info</h2>
  <br>

  <div class="row" >
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, id: :customer_first_name, class: "form-control" %>
    </div>

    <div class="col-sm-4">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, id: :customer_last_name, class: "form-control" %>
    </div>
    <div class="col-sm-2"></div>
  </div><br>


  <div class="row" >
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
    <%= form.label :address1 %>
    <%= form.text_field :address1, id: :customer_address1, class: "form-control" %>
  </div>

    <div class="col-sm-4">
      <%= form.label :address2 %>
      <%= form.text_field :address2, id: :customer_address2, class: "form-control" %>
    </div>
    <div class="col-sm-2"></div>
  </div><br>


  <div class="row" >
    <div class="col-sm-2"></div>
    <div class="col-sm-5">
      <%= form.label :city %>
      <%= form.text_field :city, id: :customer_city, class: "form-control" %>
    </div>

    <div class="col-sm-1">
      <%= form.label :state %>
      <%= form.text_field :state, id: :customer_state, class: "form-control" %>
    </div>

    <div class="col-sm-2">
      <%= form.label :zip %>
      <%= form.text_field :zip, id: :customer_zip, class: "form-control" %>
    </div>
    <div class="col-sm-2"></div>
  </div><br>


  <div class="row" >
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
      <%= form.label :mobile_phone %>
      <%= form.text_field :mobile_phone, id: :customer_mobile_phone, placeholder: '000-000-0000', class: "form-control" %>
    </div>

    <div class="col-sm-4">
      <%= form.label :home_phone %>
      <%= form.text_field :home_phone, id: :customer_home_phone, placeholder: '000-000-0000', class: "form-control" %>
    </div>
    <div class="col-sm-2"></div>
  </div><br>

  <div class="row" >
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <%= form.label :email %>
      <%= form.text_field :email, id: :customer_email, class: "form-control" %>
    </div>
    <div class="col-sm-2"></div>
  </div><br>

  <div align="center">
    <div class="actions" >
      <%= form.submit :class => "btn btn-dark" %>
    </div>
  </div><br>
  </div>
  <br><br>


<% end %>

</div>
