<div class="container-fluid">

<p id="notice"><%= notice %></p>

  <h1 align="left">Customer Search</h1><br>
    <div class="container-fluid">
  <%= form_tag(customers_path, method: "get", :class => "form-horizontal") do %>
    <div class="form-group">
      <div class="row" >
      <div class="col-sm-1">
        <%= label_tag 'Phone:', nil, :class => "control-label" %>
      </div>
      <div class="col-sm-4">
        <%= text_field_tag :phone, nil, placeholder: 'xxx-xxx-xxxx', class: "form-control" %>
      </div>
      <div class="col-sm-1">
        <%= submit_tag("Search",:class => "btn-md") %>
      </div>
      </div>
    </div>

      <div class="row" >
        <div class="col-sm-1">
          <%= label_tag 'last_name:', nil, :class => "control-label" %>
        </div>
        <div class="col-sm-4">
          <%= text_field_tag :last_name, nil, class: "form-control" %>
        </div>
        <div class="col-sm-1">
          <%= submit_tag("Search",:class => "btn-md") %>
        </div>
      </div>
  <% end %>
    </div><br>
  </div>

</div>
