<p id="notice"><%= notice %></p>

<h1>Sires</h1>
<div class="container-fluid">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Registration Number</th>
      </tr>
    </thead>

    <tbody>
      <% @sires.each do |sire| %>
        <tr>
          <td><%= sire.registration_number %></td>
          <td><%= link_to 'Show', sire, class: "btn btn-outline-dark btn-sm" %>
          <td><%= link_to 'Edit', edit_sire_path(sire), class: "btn btn-outline-dark btn-sm" %>
          <!--<td><%= link_to 'Destroy', sire, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Sire', new_sire_path, :class => "btn btn-dark" %>
</div>