<%= form_with(model: broker, local: true) do |form| %>
  <% if broker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(broker.errors.count, "error") %> prohibited this broker from being saved:</h2>

      <ul>
      <% broker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :broker_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :broker_last_name %>
  </div>

  <div class="field">
    <%= form.label :company_name %>
    <%= form.text_field :company_name, id: :broker_company_name %>
  </div>

  <div class="field">
    <%= form.label :address1 %>
    <%= form.text_field :address1, id: :broker_address1 %>
  </div>

  <div class="field">
    <%= form.label :address2 %>
    <%= form.text_field :address2, id: :broker_address2 %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :broker_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :broker_state %>
  </div>

  <div class="field">
    <%= form.label :zip %>
    <%= form.text_field :zip, id: :broker_zip %>
  </div>

  <div class="field">
    <%= form.label :mobile_phone %>
    <%= form.text_field :mobile_phone, id: :broker_mobile_phone %>
  </div>

  <div class="field">
    <%= form.label :home_phone %>
    <%= form.text_field :home_phone, id: :broker_home_phone %>
  </div>

  <div class="field">
    <%= form.label :fax %>
    <%= form.text_field :fax, id: :broker_fax %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
