<%= form_with(model: return_reason, local: true) do |form| %>
  <% if return_reason.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(return_reason.errors.count, "error") %> prohibited this return_reason from being saved:</h2>

      <ul>
      <% return_reason.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :return_reason_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :return_reason_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
