<p id="notice"><%= notice %></p>

<h1>Return Reasons</h1>
<div class="container-fluid">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
    </tr>
    </thead>

    <tbody>
    <% @return_reasons.each do |return_reason| %>
        <tr>
          <td><%= return_reason.name %></td>
          <td><%= link_to 'Show', return_reason, class: "btn btn-outline-dark btn-sm" %></td>
          <td><%= link_to 'Edit', edit_return_reason_path(return_reason), class: "btn btn-outline-dark btn-sm" %></td>
          <!--<td><%= link_to 'Destroy', return_reason, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>
</div>
<%= link_to 'New Return Reason', new_return_reason_path, :class => "btn btn-dark" %>
