<%= form_with(model: breeder, local: true) do |form| %>
  <% if breeder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(breeder.errors.count, "error") %> prohibited this breeder from being saved:</h2>

      <ul>
      <% breeder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :breeder_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :breeder_last_name %>
  </div>

  <div class="field">
    <%= form.label :company_name %>
    <%= form.text_field :company_name, id: :breeder_company_name %>
  </div>

  <div class="field">
    <%= form.label :address1 %>
    <%= form.text_field :address1, id: :breeder_address1 %>
  </div>

  <div class="field">
    <%= form.label :address2 %>
    <%= form.text_field :address2, id: :breeder_address2 %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :breeder_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :breeder_state %>
  </div>

  <div class="field">
    <%= form.label :zip %>
    <%= form.text_field :zip, id: :breeder_zip %>
  </div>

  <div class="field">
    <%= form.label :mobile_phone %>
    <%= form.text_field :mobile_phone, id: :breeder_mobile_phone %>
  </div>

  <div class="field">
    <%= form.label :home_phone %>
    <%= form.text_field :home_phone, id: :breeder_home_phone %>
  </div>

  <div class="field">
    <%= form.label :fax %>
    <%= form.text_field :fax, id: :breeder_fax %>
  </div>

  <div class="field">
    <%= form.label :usda_number %>
    <%= form.text_field :usda_number, id: :breeder_usda_number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
