<p id="notice"><%= notice %></p>

<h1>Breeders</h1>
<div class="container-fluid">
<table class="table table-striped">
  <thead>
  <tr>
    <th>Last name</th>
    <th>First name</th>
    <th>Company name</th>
    <th>Work phone</th>

    </tr>
  </thead>

  <tbody>
    <% @breeders.each do |breeder| %>
      <tr>
        <td><%= breeder.last_name %></td>
        <td><%= breeder.first_name %></td>
        <td><%= breeder.company_name %></td>
        <td><%= breeder.home_phone %></td>
        <td><%= link_to 'Show', breeder, class: "btn btn-outline-dark btn-sm" %></td>
        <td><%= link_to 'Edit', edit_breeder_path(breeder), class: "btn btn-outline-dark btn-sm" %></td>
        <!--<td><%= link_to 'Destroy', breeder, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Breeder', new_breeder_path, :class => "btn btn-dark" %>
</div>