<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @breeder.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @breeder.last_name %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @breeder.company_name %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @breeder.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @breeder.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @breeder.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @breeder.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @breeder.zip %>
</p>

<p>
  <strong>Mobile phone:</strong>
  <%= @breeder.mobile_phone %>
</p>

<p>
  <strong>Work phone:</strong>
  <%= @breeder.home_phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @breeder.fax %>
</p>

<p>
  <strong>Usda number:</strong>
  <%= @breeder.usda_number %>
</p>

<%= link_to 'Edit', edit_breeder_path(@breeder), :class => "btn btn-link" %> |
<%= link_to 'Back', breeders_path, :class => "btn btn-link" %>
