<%= form_with(model: sales_person, local: true) do |form| %>
  <% if sales_person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sales_person.errors.count, "error") %> prohibited this sales_person from being saved:</h2>

      <ul>
      <% sales_person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="container-fluid">


        <div class="form-group">
            <%= form.label :first_name, class: "mr-sm-2" %>
            <%= form.text_field :first_name, id: :sales_person_first_name, class: "form-control-sm mr-sm-5" %>
        </div>

        <div class="form-group">
            <%= form.label :last_name, class: "control-label mr-sm-2"  %>
            <%= form.text_field :last_name, id: :sales_person_last_name, class: "form-control-sm mr-sm-5" %>
        </div>

      <div class="form-group">
        <%= form.label :sales_plan_id, class: "mr-sm-2"  %>
        <%= form.collection_select(:sales_plan_id, SalesPlan.all, :id, :name, {:include_blank => true}, {:class => 'form-control-sm mr-sm-5'}) %>
      </div>


      <div class="form-group">
        <div class="actions">
          <%= form.submit :class => "btn btn-success btn-mini" %>
        </div>
      </div>
    </div>
<% end %>
