<div style="background-color:lightgray">
<%= form_with(model: sales_person, local: true) do |form| %>
  <% if sales_person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sales_person.errors.count, "error") %> prohibited this sales_person from being saved:</h2>

      <ul>
      <% sales_person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid"><br>
    <h2 align="center"> Sales Person</h2><br>
    <div class="row" >
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <%= form.label :first_name  %>
        <%= form.text_field :first_name, id: :sales_person_first_name, class: "form-control" %>
      </div>
      <div class="col-sm-3">
        <%= form.label :last_name %>
        <%= form.text_field :last_name, id: :sales_person_last_name, class: "form-control" %>
      </div>
      <div class="col-sm-3"></div>
    </div><br>

    <div class="row" >
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <%= form.label :sales_plan_id  %>
        <%= form.collection_select(:sales_plan_id, SalesPlan.all, :id, :name, {:include_blank => true}, {:class => 'form-control'}) %>
      </div>
      <div class="col-sm-3"></div>
    </div><br>



    <div align="center">
      <div class="actions" >
        <%= form.submit :class => "btn btn-dark" %>
      </div>
    </div><br>

<% end %>
</div>
</div>