<!DOCTYPE html>
<html>
  <head>
    <title>Tullys</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>
  <%  cu = current_user  %>
  <% if cu && cu.access == 'admin' %>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#">Tullys</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%=	 link_to "Home", menu_index_path, :class => "nav-link"  %>
          </li>
          <li class="nav-item">
            <%= link_to 'Log out', '/logout', :class => "nav-link"  %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Data Entry</a>
            <!--<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Dropdown link </a>-->
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%=	 link_to 'Invoice', invoices_path, :class =>" dropdown-item"  %>
              <%=	 link_to Customer, phone_search_customers_path, :class =>" dropdown-item"  %>
              <%=	 link_to Veterinarian, veterinarians_path, :class =>" dropdown-item"  %>
              <%=	 link_to Broker, brokers_path, :class =>" dropdown-item"  %>
              <%=	 link_to Breeder, breeders_path, :class =>" dropdown-item"  %>
              <%=	 link_to Breed, breeds_path, :class =>" dropdown-item"  %>
              <%=	 link_to Dam, dams_path, :class =>" dropdown-item"  %>
              <%=	 link_to Sire, sires_path, :class =>" dropdown-item"  %>
              <%=	 link_to Litter, litters_path, :class =>" dropdown-item"  %>
              <%=	 link_to Canine, canines_path, :class =>" dropdown-item"  %>
              <%=	 link_to 'Weight Category', weight_categories_path, :class =>" dropdown-item"  %>
              <%=	 link_to 'Return Reason', return_reasons_path, :class =>" dropdown-item"  %>
              <%=	 link_to 'Registration Company', registration_companies_path, :class =>" dropdown-item"  %>
              <%=	 link_to 'Treatment Types', treatment_types_path, :class =>" dropdown-item"  %>
              <%=	 link_to 'Sales Plans', sales_plans_path, :class =>" dropdown-item"  %>
              <%=	 link_to 'Sales People', sales_people_path, :class =>" dropdown-item"  %>
              <%=	 link_to 'Invoice History', invoice_histories_path, :class =>" dropdown-item"  %>
            </div>
          </li>

          <li class="nav-item">
            <%= link_to 'Admin', users_path, :class => "nav-link"  %>
          </li>

          <li class="nav-item">
            <%=	 link_to "Communications", requirements_path, :class => "btn btn-link"  %>
          </li>
        </ul>
      </div>
    </nav>

  <% elsif cu && cu.access == 'manager' %>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#">Tullys</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%=	 link_to "Home", menu_index_path, :class => "nav-link"  %>
          </li>
          <li class="nav-item">
            <%= link_to 'Log out', '/logout', :class => "nav-link"  %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Data Entry</a>
            <!--<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Dropdown link </a>-->
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%=	 link_to 'Invoice', invoices_path, :class =>" dropdown-item"  %>
              <%=	 link_to Customer, phone_search_customers_path, :class =>" dropdown-item"  %>
              <%=	 link_to Veterinarian, veterinarians_path, :class =>" dropdown-item"  %>
              <%=	 link_to Broker, brokers_path, :class =>" dropdown-item"  %>
              <%=	 link_to Breeder, breeders_path, :class =>" dropdown-item"  %>
              <%=	 link_to Breed, breeds_path, :class =>" dropdown-item"  %>
              <%=	 link_to Dam, dams_path, :class =>" dropdown-item"  %>
              <%=	 link_to Sire, sires_path, :class =>" dropdown-item"  %>
              <%=	 link_to Litter, litters_path, :class =>" dropdown-item"  %>
              <%=	 link_to Canine, canines_path, :class =>" dropdown-item"  %>
              <%=	 link_to 'Weight Category', weight_categories_path, :class =>" dropdown-item"  %>
              <%=	 link_to 'Return Reason', return_reasons_path, :class =>" dropdown-item"  %>
              <%=	 link_to 'Registration Company', registration_companies_path, :class =>" dropdown-item"  %>
              <%=	 link_to 'Treatment Types', treatment_types_path, :class =>" dropdown-item"  %>
              <%=	 link_to 'Sales Plans', sales_plans_path, :class =>" dropdown-item"  %>
              <%=	 link_to 'Sales People', sales_people_path, :class =>" dropdown-item"  %>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  <% elsif cu && cu.access == 'staff' %>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#">Tullys</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%=	 link_to "Home", menu_index_path, :class => "nav-link"  %>
          </li>
          <li class="nav-item">
            <%= link_to 'Log out', '/logout', :class => "nav-link"  %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Data Entry</a>
            <!--<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Dropdown link </a>-->
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%=	 link_to 'Invoice', invoices_path, :class =>" dropdown-item"  %>

            </div>
          </li>


        </ul>
      </div>
    </nav>
  <% elsif cu && cu.access == 'inactive' %>
    <% session[:user_id] = nil %>
    <div>
      This account has been deactivated
    </div>
    <%= link_to 'Login', '/login', :class => "nav-link"  %>

  <% else %>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#">Tullys</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%=	 link_to "Home", menu_index_path, :class => "nav-link"  %>
          </li>
          <li class="nav-item">
            <%= link_to 'Login', '/login', :class => "nav-link"  %>
          </li>

        </ul>
      </div>
    </nav>
    <% end %>


  <body>
    <%= yield %>
  </body>


</html>
